@model List<Vaccine>

@{
    ViewData["Title"] = "Index";
}

<h1>Vacinas</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<form class="d-flex mb-3" asp-action="index" method="get">
    <input name="filtro" class="form-control me-2" type="search" placeholder="Pesquise pela Vacina">
    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
</form>

<form class="d-flex mb-3">
    <button asp-action="cadastrar" class="btn btn-primary me-2">Cadastrar Vacina</button>
    <button asp-action="dashboard" class="btn btn-info me-2">Dashboard</button>
</form>

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Composição</th>
            <th scope="col">Intervalo</th>
            <th scope="col">Dose da Vacina</th>
            <th scope="col">Nome do Fabricante</th>
            <th scope="col">Cnpj</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Composicao</td>
                <td>@item.Intervalo</td>
                <td>@item.DoseVacina</td>
                <td>@item.Fabricantes.Nome</td>
                <td>@item.Fabricantes.Cnpj</td>
                <td>
                    <a asp-action="editar" asp-route-id="@item.VaccineId" class="btn btn-sm btn-outline-info">Editar</a>
                    <!-- Button trigger modal -->
                    <button onclick="key.value = @item.VaccineId" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Remover
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Template para confirmação de remoção da Vacina -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente apagar a Vacina?
            </div>
            <div class="modal-footer">
                <form asp-action="deletar" method="post">
                    <input type="hidden" name="id" id="key" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>