@model List<Cliente>

@{
	ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<form class="d-flex mb-3" asp-action="index" method="get">
    <input name="filtro" class="form-control me-2" type="search" placeholder="Pesquise o Cliente">
    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
</form>

<form class="d-flex mb-3">
    <button asp-action="cadastrar" class="btn btn-primary me-2">Cadastrar Cliente</button>
    <button asp-action="dashboard" class="btn btn-info me-2">Dashboard</button>
</form>

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Situação do Cliente</th>
            <th scope="col">CEP do Endereço</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>@item.Telefone</td>
                <td>@item.Cpf</td>
                <td>@item.DataNascimento.ToShortDateString()</td>
                <td>@item.SituacaoCliente</td>
                <td>@item.Endereco.Cep</td>
                <td>
                    <a asp-action="editar" asp-route-id="@item.ClienteId" class="btn btn-sm btn-outline-info">Editar</a>
                    <!-- Button trigger modal -->
                    <button onclick="key.value = @item.ClienteId" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Remover
                    </button>
                    <a asp-action="dependentes" asp-route-id="@item.ClienteId" class="btn btn-sm btn-outline-dark">Dependentes</a>
                    <a asp-action="endereco" asp-route-id="@item.ClienteId" class="btn btn-sm btn-outline-primary">Endereço</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Template para confirmação de remoção do cliente -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente apagar o paciente?
            </div>
            <div class="modal-footer">
                <form asp-action="deletar" method="post">
                    <input type="hidden" name="id" id="key" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>